<!-- Publications -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].publications.section | default: " publications" }}">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].publications.title |
                    default: "Publications" }}</h2>
                {% if site.data.sitetext[site.locale].publications.text %}
                <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].publications.text | markdownify }}</h3>
                {% endif %}
            </div>
        </div>

        <div id="carouselPublications" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            
            {% for publication in site.data.sitetext[site.locale].publications.list %}
                {% if forloop.first %}
                    {% assign active = " active" %}
                {% else %}
                    {% assign active = "" %}
                {% endif %}
                {% include carousel_slide.html pub = publication act = active %}
            {% endfor %}

            <a class="carousel-control-prev" href="#carouselPublications" role="button" data-slide="prev"  style="color: black;">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black;"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselPublications" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>

    </div>
</section>
<!-- End Publications -->