<!-- Services -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].services.section | default: " services" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].services.title | default:
          "Services" }}</h2>
        {% if site.data.sitetext[site.locale].services.text %}
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].services.text }}</h3>
        {% endif %}
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-6 col-lg-8">
        <img src="../assets/img/stockholm.jpg" class="mb-5 profile-image" alt="">
        <p class="profile-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Arcu ac tortor dignissim convallis aenean et tortor at. Leo vel orci porta non pulvinar.
          Pellentesque eu tincidunt tortor aliquam. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum.
          Donec ac odio tempor orci. Non enim praesent elementum facilisis leo vel fringilla est. Euismod quis viverra
          nibh cras. Fermentum odio eu feugiat pretium. Purus faucibus ornare suspendisse sed nisi lacus sed viverra
          tellus. Et magnis dis parturient montes.
        </p>
      </div>
      <div class="col-md-6 col-lg-4">
        <ul style="list-style-type: none;" class="p-0">
          {% for service in site.data.sitetext[site.locale].services.list %}
          <li class="clearfix pt-1 pb-1">
            <span class="fa-stack fa-2x float-left">
              <i class="fa-solid fa-circle fa-stack-2x text-primary"></i>
              <i class="{{ service.icon | default: " fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
            </span>
            <h6 class="service-heading float-left">{{ service.title | markdownify }}</h6>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</section>
<!-- End Services -->