<!-- Services -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].services.section | default: " services" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].services.title | default:
          "Services" }}</h2>
        {% if site.data.sitetext[site.locale].services.text %}
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].services.text }}</h3>
        {% endif %}
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-6 col-lg-8">
        <img src="../assets/img/brno_stockholm.jpg" class="mb-5 profile-image" alt="">
        <p class="profile-text">
          I started my scientific journey by being born in a small sleepy town in central Slovakia, although as you can
          probably guess, I didn't know it at the time. It only became clear when I was applying for a university,
          staring at the endless catalogue of possible undergraduate programs. I had no idea what to choose, and
          frankly, I didn't care that much, until I came across “Molecular Biology and Genetics”. It sounded pretty damn
          awesome and my mind was immediately filled with fancy sci-fi endeavours, X-Men, mutants, and the like. In the
          end, it didn't really pan out that way, but I stuck with it nonetheless. The sci-fi fantasy was gradually
          replaced by “equally thrilling” discoveries of kinases and protein-protein interactions in embryonic
          development and cancer. Then the Masaryk University awarded me a PhD. In retrospect, I believe it was because
          I accumulated a critical amount of these discoveries and I was free to continue my exodus towards bigger and
          more inhospitable cities, leaving Brno for Stockholm. I always liked sports as a kid. Unfortunately, my
          aptitude was not world-class, so I welcomed the opportunity to study what happens to people when they
          exercise. So, studies of embryonic development gave way to metabolism and I again started to dream the dreams
          of super-human engineering.
        </p>
      </div>
      <div class="col-md-6 col-lg-4">
        <ul style="list-style-type: none;" class="p-0">
          {% for service in site.data.sitetext[site.locale].services.list %}
          <li class="clearfix pt-1 pb-1">
            <span class="fa-stack fa-2x float-left">
              <i class="fa-solid fa-circle fa-stack-2x text-primary"></i>
              <i class="{{ service.icon | default: " fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
            </span>
            <h6 class="service-heading float-left">{{ service.title | markdownify }}</h6>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</section>
<!-- End Services -->