<div class="row pb-5">
<div class="col-12 text-center">
<h2 class="skill-heading">{{ include.skills.title }}</h3>
</div>
{% for skill in include.skills.list %}
<div class="col-lg-4 col-md-6 col-sm-6 pt-3 pb-3">
    <div>
    <h4>{{ skill.name }}</h4>
    <div class="progress">
        <!-- {% assign pbcolor = forloop.index0 | modulo: 4 %} -->
        <div class="{{ 'progress-bar ' | append: 'progress-bar-striped ' | append: 'progress-bar-color-' | append: include.skills.pbcolor }}" 
        role="progressbar" style="{{ 'width:' | append: skill.value | append: '%;' }}" aria-valuenow="{{ skill.value }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
</div>
    {% endfor %}
</div>