.progress-bar-color-0 {
    background-color: #4685B0;
}

.progress-bar-color-1 {
    background-color: #4A545F;
}

.progress-bar-color-2 {
    background-color: #6CA8C5;
}

.progress-bar-color-3 {
    background-color: #B1A295;
}

.skill-heading {
    color: #2F4251;
    text-align: center;
}