---
---

@import "agency";

header.masthead {
    color: #2F4251;
    .intro-text {
      padding-top: 100px;
      padding-bottom: 300px;
    }
  }
  @media (min-width: 768px) {
    header.masthead {
      .intro-text {
        padding-top: 150px;
        padding-bottom: 500px;
      }
    }
  }